<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    <form method="POST" action="/api/auth/addUser">
        <p>
            <label>Username</label>
            <input type="text" name="username" placeholder="enter valid username"/>
        </p>
        <p>
            <label>Password</label>
            <input type="password" name="password" placeholder="enter valid password"/>
        </p>
        <p>
            <label>Email</label>
            <input type="email" name="email" placeholder="enter valid email"/>
        </p>
        <p>
            <label>Account Type</label>
            <input type="radio" name="accountType" value="0"/>User
            <input type="radio" name="accountType" value="1"/>Admin     
        </p>

        <button type="submit">Add User</button>

        <div>
            <a href="/users/profile">
                Cancel
            </a>
        </div>
    </form>
    
</body>
</html>