<a  href="/users/logout">Logout</a>
<center>
    <h1>User Profile page</h1>
</center>
<hr/>
<center>
    <h2>Hi <%=user.username%></h2>
</center>
<style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #cacaca;
      text-align: left;
      padding: 8px;
    }
    </style>
<center>
    <h1> Product List</h1>    
    <table >
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        <% prods.forEach(function(post){ %>
        <tr> 
            <td><%= post._id %></td>
            <td><%= post.name %></td>
            <td><%= post.price %></td>
        </tr>
        <%});%>
    </table>
</center>



