<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/user/signup">
        <p>
            <label>Username</label>
            <input type="text" name="username" placeholder="enter valid username"/>
        </p>
        <p>
            <label>Password</label>
            <input type="password" name="password" placeholder="enter valid password"/>
        </p>
        <p>
            <label>Email</label>
            <input type="email" name="email" placeholder="enter valid email"/>
        </p>
        <button>Sign Up</button>
    </form>
    
</body>
</html>